@import "colors";

#text {
  font: 700 1.3rem $text1;
}
#searchbox {
  margin: 1rem 0;
}
#dealer {
  margin: 4rem 2rem;
  min-height: 100vh;
  // overflow-x:scroll;
  width: 100%;
}
.table-container {
  // max-height: 400px;
  margin-bottom: 20px;
}
